[submodule "3rd-party/py-transcriptor-ai"]
	path = third_party/py-transcriptor-ai
	url = https://github.com/paulocoutinhox/py-transcriptor-ai.git
[submodule "3rd-party/py_fso"]
	path = third_party/py_fso
	url = https://github.com/JustMisha/py_fso.git
[submodule "3rd-party/jiaaro-pydub-996cec4"]
	path = third_party/jiaaro-pydub-996cec4
	url = https://github.com/jiaaro/pydub.git
